@font-face {
  font-family: 'Goyang';
  src: url('/src/fonts/Goyang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --text: #000000;
  --dark-mode-btn: rgb(34, 39, 46);
  --dark-mode-text: rgb(205, 217, 229);
}

body.dark-mode {
  --background: #000000;
  --text: #ffffff;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
  background-color: var(--background);
  color: var(--text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.ToggleBtnWrap {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.ToggleBtn {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 14px;
}

body.dark-mode .ToggleBtn {
  background-color: var(--dark-mode-btn);
  color: var(--dark-mode-text);
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

@media (max-width: 992px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .SearchResult {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media (max-width: 576px) {
  .SearchResult {
    grid-template-columns: repeat(3, minmax(210px, 1fr));
  }
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --text: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }
}
